.project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  
  @media screen and (max-width: 768px) {
    .project {
      grid-template-columns: repeat(1, 1fr);
    }
  }